<!DOCTYPE html>
<html>

<head>
	<title>Открытые идеи</title>
</head>

<body>
	<div style="display: flex; flex-direction: column; align-items: center; gap: 5px">
		<h1>Открытые идеи!</h1>
		<h2>Ваш идентификационный номер: <span id="ws-id"></span></h2>
        <div style="display: flex; flex-direction: row; gap: 50px">
            <form onsubmit="sendQuery(event)" class="form-idea" style="display: flex; flex-direction: column">
                <label for="name">Название инициативы:</label>
                <input type="text" id="name" autocomplete="off" required />

                <label for="description">Описание:</label>
                <input type="text" id="description" autocomplete="off" required />

                <label for="direction">Направление:</label>
                <select id="direction" required></select>

                <label for="effect">Эффект:</label>
                <input type="text" id="effect" autocomplete="off" required />

                <button type="submit" style="margin-top: 5px">Зарегистрировать идею</button>
            </form>
            <form onsubmit="sendDirection(event)" style="display: flex; flex-direction: column">
                <label for="directionName">Название направления:</label>
                <input type="text" id="directionName" autocomplete="off" required />

                <label for="directionDescription">Описание направления:</label>
                <input type="text" id="directionDescription" autocomplete="off" required />

                <button style="margin-top: 5px" type="submit">Добавить направление</button>
            </form>
        </div>
		<ul id='queries'> </ul>
	</div>
	<script>
        function sendDirection(event) {
            event.preventDefault();

            let directionName = document.getElementById("directionName").value;
            let directionDescription = document.getElementById("directionDescription").value;

            let data = {
                name: directionName,
                description: directionDescription
            };

            fetch('/directions/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(result => {
                    console.log('Success:', result);
                    populateDirectionsSelect();
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            // Очистка полей формы
            document.getElementById("directionName").value = '';
            document.getElementById("directionDescription").value = '';
        }

        function populateDirectionsSelect() {
            let directionSelect = document.getElementById('direction');
            directionSelect.innerHTML = '';

            fetch('/directions')
                    .then(response => response.json())
                    .then(directions => {
                        directions.forEach(direction => {
                            let option = document.createElement('option');
                            option.value = direction.id;
                            option.text = direction.name;
                            directionSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Ошибка при получении направлений:', error));
        }

        function populateQueriesList() {
            let queriesList = document.getElementById('queries');
            queriesList.innerHTML = '';

            fetch('/queries')
                    .then(response => response.json())
                    .then(queries => {
                        queries.forEach(async query => {
                            // Отправляем запрос для получения имени направления по его идентификатору
                            const directionResponse = await fetch(`/directions/${query.initiative_direction}`);
                            const directionData = await directionResponse.json();
                            const directionName = directionData.name;

                            let listItem = document.createElement('li');
                            listItem.textContent = `Инициатива: ${query.name}, Описание: ${query.description}, Направление: ${directionName}, Эффект: ${query.implementation_effect}`;
                            queriesList.appendChild(listItem);
                        });
                    })
                    .catch(error => console.error('Ошибка при получении инициатив:', error));
        }

        function sendQuery(event) {
            event.preventDefault();

            let name = document.getElementById("name").value;
            let description = document.getElementById("description").value;
            let directionId = document.getElementById("direction").value;
            let effect = document.getElementById("effect").value;

            let data = {
                name: name,
                description: description,
                initiative_direction: directionId,
                implementation_effect: effect
            };

            fetch('/queries/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                    .then(response => response.json())
                    .then(result => {
                        console.log('Success:', result);
                        populateQueriesList();
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });

            // Очистка полей формы
            document.getElementById("name").value = '';
            document.getElementById("description").value = '';
            document.getElementById("direction").value = '';
            document.getElementById("effect").value = '';
        }

        // Вызов функции для заполнения селекта направлений при загрузке страницы
        populateDirectionsSelect();
        populateQueriesList();
        let client_id = Math.floor(Math.random() * 1000) + 1
        document.querySelector("#ws-id").textContent = client_id;
        let ws = new WebSocket(`{{ ws_protocol }}://{{ server_urn }}/ws/${client_id}`);
	</script>
</body>

</html>

<!--?function appendMessage(msg) {-->
<!--?		let messages = document.getElementById('messages')-->
<!--?		let message = document.createElement('li')-->
<!--?		let content = document.createTextNode(msg)-->
<!--?		message.appendChild(content)-->
<!--?		messages.appendChild(message)-->
<!--?	}-->
<!--?	let client_id = Math.floor(Math.random() * 1000) + 1-->
<!--?	document.querySelector("#ws-id").textContent = client_id;-->
<!--?	let ws = new WebSocket(`{{ ws_protocol }}://{{ server_urn }}/ws/${client_id}`);-->

<!--?	ws.onmessage = function(event) {-->
<!--?		appendMessage(event.data)-->
<!--?	};-->

<!--?	function sendMessage(event) {-->
<!--?		let input = document.getElementById("messageText")-->
<!--?		ws.send(input.value)-->
<!--?		input.value = ''-->
<!--?		event.preventDefault()-->
<!--?	}-->