<!DOCTYPE html>
<html>

<head>
	<title>Открытые идеи</title>
</head>

<body>
	<div style="display: flex; flex-direction: column; align-items: center; gap: 5px">
		<h1>Открытые идеи!</h1>
		<h2>Ваш идентификационный номер: <span id="ws-id"></span></h2>
        <div style="display: flex; flex-direction: row; gap: 50px">
            <form onsubmit="sendQuery(event)" class="form-idea" style="display: flex; flex-direction: column">
                <label for="name">Название инициативы:</label>
                <input type="text" id="name" autocomplete="off" required />

                <label for="description">Описание:</label>
                <input type="text" id="description" autocomplete="off" required />

                <label for="direction">Направление:</label>
                <select id="direction" required>
                  {% for direction in directions %}
                      <option value="{{ direction.id }}">{{ direction.name }}</option>
                  {% endfor %}
                </select>
                <label for="effect">Эффект:</label>
                <input type="text" id="effect" autocomplete="off" required />

                <button type="submit" style="margin-top: 5px">Зарегистрировать идею</button>
            </form>
            <form onsubmit="sendDirection(event)" style="display: flex; flex-direction: column">
                <label for="directionName">Название направления:</label>
                <input type="text" id="directionName" autocomplete="off" required />

                <label for="directionDescription">Описание направления:</label>
                <input type="text" id="directionDescription" autocomplete="off" required />

                <button style="margin-top: 5px" type="submit">Добавить направление</button>
            </form>
        </div>
    <ul id='queries'>
    {% for query in queries %}
        {% set directionName = directions | selectattr("id", "equalto", query.initiative_direction) | map(attribute="name") | first %}
        <li>
            Инициатива: {{ query.name }},
            Описание: {{ query.description }},
            Направление: {{ directionName | default('Направление не найдено') }},
            Эффект: {{ query.implementation_effect }},
        </li>
    {% endfor %}
</ul>
	</div>
	<script>
        function sendDirection(event) {
            event.preventDefault();

            let directionName = document.getElementById("directionName").value;
            let directionDescription = document.getElementById("directionDescription").value;

            let data = {
                name: directionName,
                description: directionDescription
            };

            fetch('/directions/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(result => {
                    console.log('Success:', result);
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            // Очистка полей формы
            document.getElementById("directionName").value = '';
            document.getElementById("directionDescription").value = '';
        }

        function sendQuery(event) {
            event.preventDefault();

            let name = document.getElementById("name").value;
            let description = document.getElementById("description").value;
            let directionId = document.getElementById("direction").value;
            let effect = document.getElementById("effect").value;

            let data = {
                name: name,
                description: description,
                initiative_direction: directionId,
                implementation_effect: effect
            };

            fetch('/queries/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                    .then(response => response.json())
                    .then(result => {
                        console.log('Success:', result);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });

            // Очистка полей формы
            document.getElementById("name").value = '';
            document.getElementById("description").value = '';
            document.getElementById("direction").value = '';
            document.getElementById("effect").value = '';
        }

        let client_id = Math.floor(Math.random() * 1000) + 1
        document.querySelector("#ws-id").textContent = client_id;
        let ws = new WebSocket(`{{ ws_protocol }}://{{ server_urn }}/ws/${client_id}`);
	</script>
</body>

</html>